.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.para {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 10px;
}

.form-group{
  text-align: left;
  font-size: medium;
  position: relative;
  padding: 10px;
  border: 1px solid #fff;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-control{
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.label-block{
  display: inline-block;
  width: 150px;
}

#email, #username, #password {
  margin-bottom: 5px;
  color: #000000;
  width: 250px;
}

#pwd {
  color: #000000;
  width: 250px;
}

.logout {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
}

.logout-button {
  width: auto;
  left: 93%;
  top: 10px;
}

.data-table {
  background-color: #ffffff;
  color: black;
  width: 100%;
  font-size: 0.8rem;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  text-align: center;
  height: fit-content;
  empty-cells: hide;
}

.th {
  border: 1px solid rgb(160 160 160);
    font-weight: normal;
}

.tr {
  padding: 10px;

}

.table-layout {
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

.th1 {
  border: 1px solid rgb(160 160 160);
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Apply backdrop blur effect */
.popup-container {
  backdrop-filter: blur(5px);
}
.pinBox {
  --width: 296px;
  --height: 74px;
  --spacing: 47px;

  display: inline-block;
  position: relative;
  width: var(--width);
  height: var(--height);
  background-image: url(https://i.sstatic.net/JbkZl.png);
}

input[type=text] {
  position: absolute;
  padding-left: 21px;
  font-family: courier, monospaced;
  font-size: var(--spacing);
  height: var(--height);
  letter-spacing: var(--spacing);
  background: repeating-linear-gradient(90deg,
      dimgrey 0, dimgrey 1ch,
      transparent 0, transparent 2.65ch)
      0 100%/ 10ch 2px no-repeat;
  background-position: 7% 90%;
  border: 0;
  outline: none;
  clip: rect(0px, calc(var(--width) - 21px), var(--height), 0px);
}

.forget-button {
  font-size: small;
  margin: 5px;
}

.form-change-password{
  text-align: center;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
